@media ( max-width : 649px) , ( device-height : 1024px) and (device-width: 768px)
		and (orientation: portrait) , ( device-height : 1024px) and
	(device-width: 768px) and (orientation: landscape) {
	.RegisterDiv {
		box-sizing: border-box;
		overflow: visible !important;
		width: 100% !important;
		padding: 1px;
		border-radius: 0px !important;
	}
}

section {
	margin-bottom: 100px;
}

.mainHeader {
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	padding: 25px 40px;
	background: url("../image/headerback.jpg");
	height: 100px;
}

.childHeader {
	font-weight: bold;
	font-size: 18px;
	padding: 10px 1em;
	width: auto;
	text-align: Left;
	margin: 1px;
	height: 10px;
}

/* LOOK AND FEEL */
body {
	background: #FCFCFC;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	background-position: 50% 50%;
	margin: 0px;
	padding: 0px;
}

.RegisterDiv {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0;
	border: 1px solid #D9DDE2;
	background: #FFFFFF;
	background-size: cover;
	color: #36454E;
	overflow: hidden;
	box-shadow: none;
	background-position: 50% 50%;
}

.form-row {
	padding: 5px;
	margin: 5px 10px;
	float: left;
	display: block;
}

.levels {
	display: block !important;
	min-height: 19px;
}

.form-row .left_question_first {
	width: 15em;
}

.form-row input {
	background-color: #fff !important;
	border: 1px solid #e4e4e4 !important;
	border-radius: 4px !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
	height: 25px !important;
	margin-right: 5px !important;
	line-height: 25px !important;
	padding: 5px 10px;
	max-width: 100%;
}

.form-row input:focus, .form-row input:hover {
	
}

.drop_down {
	background: #FFFFFF;
	border: 1px solid #4265b7;
	border-radius: 2px;
	border-width: 1px;
	color: #36454E;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	margin: 1px 0;
	padding: 9px;
	box-shadow: 0px 0px 12px #9b9b9b;
}

.headerDIV {
	background-color: #eeeeee;
	color: #616161;
	padding: 10px 20px;
	font-size: 16px;
	margin: 0px;
}

.outside {
	color: #36454E;
}

.required {
	color: red;
}

.emptyDIV {
	clear: both;
	margin: 0;
	padding: 0;
}

.buttonClass {
	display: block;
	border-radius: 2px;
	background-color: #6caee0;
	color: #ffffff;
	font-weight: bold;
	padding: 15px 35px;
	border: 0;
	margin: 55px auto 0;
	cursor: pointer;
}

input[type="submit"], input[type="button"] {
	background: rgb(254, 231, 154);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	float: left;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 20px 0 35px 15px;
	position: relative;
	width: 120px;
}

input[type="submit"]:hover, input[type="button"]:hover {
	
}

input[type="reset"] {
	color: #fff;
	cursor: pointer;
	float: left;
	font: 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 20px 0 35px 15px;
	position: relative;
	width: 120px;
	background-color: #575757;
	border: 0px;
	border-radius: 4px;
}

input[type="reset"]:hover {
	background: #6b6b6b;
}

::-webkit-input-placeholder { /* Chrome */
	color: #a2a2a2;
}

:-ms-input-placeholder { /* IE 10+ */
	color: #a2a2a2;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #a2a2a2;
	opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
	color: #a2a2a2;
	opacity: 1;
}

.mainHeader {
	box-sizing: border-box;
	text-align: center;
	border: 2px;
	border-color: red;
	width: 100%;
	padding: 25px 40px;
	background: url("/InterviewAssist/resources/Header_new.png");
	background-repeat: no-repeat;
	height: 40px;
}

textarea {
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	margin: 1px 0;
	padding: 10px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

textarea:FOCUS, textarea:hover {
	background-color: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	margin: 1px 0;
	padding: 10px;
}

header {
	background-color: #f8f8f8;
	padding: 0px 0px;
	font-size: 16px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	border-bottom: solid 1px #fff;
	position: fixed;
	width: 100%;
	margin: 0px;
	top: 0px;
	z-index: 10;
}

section {
	margin-top: 140px;
}

.wrapper {
	margin-top: 40px;
	margin-bottom: 10px;
	background-color: transparent
}

#cssmenu {
	background-color: #00853e;
	border-radius: 0;
}

#cssmenu>ul>li>a {
	color: #fff;
	font-weight: normal;
	padding: 12px 25px;
}

nav {
	background: #00853e;
	margin-bottom: 20px;
}

#cssmenu>ul>li.has-sub>a:before {
	border-top-color: #00853e;
	top: 18px;
}

#cssmenu>ul>li.has-sub>a:after {
	background: #ffffff;
	top: 13px;
}

#cssmenu>ul>li:hover>a, #cssmenu>ul>li.active>a {
	background-color: #019747;
}

#cssmenu ul li ul li {
	background-color: #019747;
}

#cssmenu ul li ul li a {
	color: #fff;
}

.main-content .ui-accordion {
	padding: 15px !important;
	border-radius: 2px !important;
	border: 1px solid #ddd !important;
}

.main-content .ui-accordion .ui-accordion-header {
	margin: 5px 0 0 0 !important;
	padding: 10px !important;
	font-size: 100% !important;
	border-radius: 0px !important;
	border: 0px solid #c5c5c5 !important;
	background: #EEEEEE;
	color: #008041;
	font-weight: bold !important;
}

.main-content .ui-accordion .ui-accordion-header:hover {
	border: 0px !important;
}

.main-content .ui-accordion .ui-accordion-content {
	margin-left: 0px !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
	a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover
	{
	background-color: #00853e !important;
	color: #fff !important;
}

input[type="submit"], input[type="button"] {
	background-color: #00853f !important;
	font-weight: normal !important;
	border: 0px;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 0px 0 rgba(255, 255, 255, 0.8) inset !important;
	margin: 20px 10px;
}

.ui-button {
	background-color: #fff !important;
	border: 1px solid #e4e4e4 !important;
	border-radius: 4px !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
	height: 25px !important;
	margin-right: 15px !important;
	line-height: 25px !important;
}

#addEventForm, #userForm, #reportForm {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
	margin: 15px 0px;
}

#eventSection {
	margin: 10px !important;
}

.form-row .levels input {
	height: auto !important;
	margin-right: 5px !important;
}

#reportForm input[type="submit"], #reportForm input[type="button"] {
	margin: 36px 10px 10px
}

#reportForm input[type="reset"] {
	background-color: #575757;
}

.logo {
	float: left;
}

.container {
	width: 85%;
	height: auto;
	border-radius: 0;
	background-color: transparent;
	background-size: cover;
	box-shadow: none;
	background-position: 50% 50%;
	margin: 0px auto;
}

.form-row-time {
	/* margin-bottom: -1px; */
	float: right;
	/* display: inline; */
	margin: 12px 0px 10px 20px;
}

.form-row-name {
	padding: 5px;
	font: 18px Helvetica, Arial, sans-serif !important;
	margin: 0 auto;
	float: inherit;
	/* display: inline; */
	color: #249b1e;
	font-family: cursive;
	font-weight: bold;
	font-size: 13pt;
	position: absolute;
	top: 10px;
	left: 40%;
}

body {
	font: 14px Helvetica, Arial, sans-serif;
}

#editor {
	width: 100% !important;
}

.form-row-time table td #counter, .form-row-time table td .counter {
	font: 24px Helvetica, Arial, sans-serif !important;
}

.form-row-time table td {
	font-size: 14px;
	color
	#000;
}

.form-row-time {
	margin: 10px 0px 0px;
	border-left: solid 1px #ccc;
	border-radius: 10px;
	padding-left: 10px;
}

.form-row-time table td b {
	background-color: transparent;
	font-weight: normal;
	color: #313131 !important;
}

#candidateForm .form-row {
	font: 14px/26px Helvetica, Arial, sans-serif !important;
	letter-spacing: 0px;
	color: #313131;
	padding: 25px 0px 15px 0px;
}

#candidateForm  .form-row input {
	height: auto !important;
}

#candidateForm #singleChoice, #candidateForm #multipleChoice {
	padding: 20px 0px;
}

.check1 {
	padding: 5px 0px;
}

.question {
	float: left;
	width: 35%;
	padding: 10px 0px 20;
}

#editor {
	width: 61% !important;
	min-height: 300px;
	height: auto !important;
	float: left;
	margin-top: 36px !important;
}

#addUserID {
	margin-left: 20px;
}

.ui-selectmenu-icon.ui-icon {
	margin-top: 4px;
}

.ace_editor {
	border: solid 1px #ccc;
}

nav {
	margin-bottom: 0px;
}

#questionForm #editor {
	width: 700px !important;
	margin-top: 0px !important;
}

.ui-accordion-content .form-row {
	float: none;
}

section.main-content {
	margin-top: -56px;
}

.steps-blok {
	border-radius: 0;
	box-shadow: none;
	border: solid 1px #EEEEEE;
	padding: 0px;
}

.steps-blok h3, .question-main h3 {
	background-color: #efefef;
	display: block;
	padding: 8px;
	text-decoration: none;
	margin: 0px;
	font: bold 16px/26px Helvetica, Arial, sans-serif !important;
	text-transform: capitalize;

}
.question-main h3{	margin-top: 146px;}

.steps-blok h3 span, .question-main h3 span {
	background-color: #008041;
	color: #fff;
	border-radius: 50%;
	padding: 6px 10px;
}

.steps-blok p {
	font: 14px/24px Helvetica, Arial, sans-serif !important;
	color: #333;
	margin: 5px 20px;
}

.note2 {
	display: block;
	clear: both;
}

.note2:after, .note2:before {
	clear: both;
}

.note2 h3 {
	color: #e61803;
	font: bold 16px/26px Helvetica, Arial, sans-serif !important;
	background: transparent;
	margin: 0px 20px;
}

.note2 p {
	margin: 0px 20px;
	font: 14px/26px Helvetica, Arial, sans-serif !important;
}

.ui-progressbar {
	position: relative;
	width: 500px;
	margin: 0px auto;
	margin-top: 15%;
}

.progress-label {
	left: 40%;
	top: 6px;
}

.loader {
  width: 100px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loader > div {
  content: " ";
  width: 20px;
  height: 20px;
  background: #35c910;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: shift 2s linear infinite;
          animation: shift 2s linear infinite;
}
.loader > div:nth-of-type(1) {
  -webkit-animation-delay: -.4s;
          animation-delay: -.4s;
}
.loader > div:nth-of-type(2) {
  -webkit-animation-delay: -.8s;
          animation-delay: -.8s;
}
.loader > div:nth-of-type(3) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.loader > div:nth-of-type(4) {
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}



@-webkit-keyframes shift {
  0% {
    left: -60px;
    opacity: 0;
    background-color: #eeff41;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  90% {
    left: 100px;
    opacity: 1;
  }
  100% {
    left: 160px;
    background-color: #64dd14;
    opacity: 0;
  }
}

@keyframes shift {
  0% {
    left: -60px;
    opacity: 0;
    background-color: #eeff41;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  90% {
    left: 100px;
    opacity: 1;
  }
  100% {
    left: 160px;
    background-color: #64dd14;
    opacity: 0;
  }
}
.info {
  position: absolute;
  bottom: 0;
  color: crimson;
}
.info .info-text {
  display: none;
}
.info input:checked + .info-text {
  display: block;
}

.row1 {
	margin: 80px 0px 0px 0px;
	padding: 0px;
}

.col1 {
	float: left;
	margin: 0px;
	width: 50%;
	padding: 0px;
}

.col2 {
	width: 48%;
	float: right;
	margin: 0px;
	padding: 0px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font: 14px/26px Helvetica, Arial, sans-serif !important;
	padding: 10px 0px;
	background: #f8f8f8;
}

#footer {
	font: 12px/26px Helvetica, Arial, sans-serif !important;
	color: #333;
}

.exit{float:right;}.exit #exit{margin:-5px -5px; background:url("/InterviewAssist/resources/exit.png") no-repeat 10%; background-color:#575757 !important; } 
#previous{ background:url(/InterviewAssist/resources/arrow-point-to-left.png) no-repeat 10%;}
#next{ background:url(/InterviewAssist/resources/arrow-point-to-right.png) no-repeat;     background-position: 90%;}
#questionForm .ui-accordion .ui-accordion-content{ height:auto !important;} #multipleOptions .form-row{ float:left;}
span#mutlipleChoiceAns{ text-align:center; margin-top:35px;} #multipleOptions #mutlipleChoiceAns{ text-align:center;} #mutlipleChoiceAns label{ float:right;}