

h1{ font-size:28px;}
h2{ font-size:26px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
h1,h2,h3,h4,h5,h6{ color:#368223;}
small{ font-size:10px;}
b, strong{ font-weight:bold;}
a{ text-decoration: none; }
a:hover{ text-decoration: underline; }
.left { float:left; }
.right { float:right; }
.alignleft { float: left; margin-right: 15px; }
.alignright { float: right; margin-left: 15px; }
.clearfix:after,
form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#content {
	background: #f9f9f9;
	margin: 0 auto;
	padding:0px 0px 20px 0px;
	position: relative;
	text-align: center;
	width: 400px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
#content h1 {
	color: #5a5a5a;
	font: Bold 22px Helvetica, Arial, sans-serif;
	line-height: 20px;
	text-transform:uppercase;
	margin: 30px 0 40px;
}

#content form { margin: 0 20px; position: relative }
#content form input[type="text"],
#content form input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: #fff ;
	border:1px solid #e0e0e0;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 5px 10px 5px 110px;
	width: 67%;
	line-height:31px;
}
#content form input[type="text"]:focus,
#content form input[type="password"]:focus {
	background-color: #fff;
	border: 1px solid #368223;
	outline: none;
}
#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }
#content form input[type="submit"] {
	background: rgb(254,231,154);
	color: #fff;
	cursor: pointer;
	float: left;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 40px;
	position: relative;
	width: 50%;margin:5px 0px;
}
#content form input[type="submit"]:hover {
	background: rgb(254,193,81);
}

#content form input[type="reset"] {
	cursor: pointer;
	float: left;
	font: 15px Helvetica, Arial, sans-serif;
	height: 40px;
	margin: 20px 0 35px 15px;
	position: relative;
	width: 48%; margin:5px 0px 5px 6px;
}
#content form input[type="reset"]:hover {
	
	}

#content form div a {
	color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}
.button {
	background: rgb(247,249,250);
		border-top: 1px solid #CFD5D9;
	padding: 15px 0;
}
.button a {
	background: url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
	color: #7E7E7E;
	font-size: 17px;
	padding: 2px 0 2px 40px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.button a:hover {
	background-position: 0 -135px;
	color: #00aeef;
}

#footer {
	width:50%;
	text-align: center;
	font-size:10px;
	font-family:inherit;
	margin-left: 25%;
}

.mainHeader {
	box-sizing: border-box;
	text-align: center;
	border:2px;
	border-color:red;
	width: 100%;
	padding: 25px 40px;
	background: url("/InterviewAssist/resources/Header_new.png");
	background-repeat:no-repeat;
	height: 70px;
}

.childHeader {
	font-weight: bold;
	font-size: 18px;
	padding: 10px 1em;
	width: auto;
	text-align: Left;
	margin: 1px;
	height: 10px;
	
}

/* LOOK AND FEEL */
body {
	background: #FCFCFC;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	background-position: 50% 50%;
}

@media ( max-width : 649px) , ( device-height : 1024px) and (device-width: 768px)
		and (orientation: portrait) , ( device-height : 1366px) and
	(device-width: 768px) and (orientation: landscape) {
	
	.container{
		box-sizing: border-box;
		overflow: visible !important;
		width: 100% !important;
		padding: 1px;
		border-radius: 0px !important;
	}

	
}
	.container{
	width: 800px;
	height:auto;
	border-radius: 0;
	background-color: transparent	;
	background-size: cover;
	box-shadow: none;
	background-position: 50% 50%;
	margin:0px auto;
	}


.form-row-login {
 padding:0px 10px; 
 margin:15px 0px;
	display: block;
}


.levels {
	display: block !important;
	min-height: 19px;
	margin-bottom: 5px;
}

.form-row-login .left_question_first {
	width: 15em;
}



.form-row-login input {
	background: #FFFFFF;
	border: 1px solid #4265b7;
	border-radius: 2px;
	border-width: 1px;
	color: #36454E;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	margin: 1px 0;
	padding: 10px;
	border-radius: 25px;
	height:31px;
}


.drop_down {
	background: #FFFFFF;
	border: 1px solid #4265b7;
	border-radius: 2px;
	border-width: 1px;
	color: #36454E;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	margin: 1px 0;
	padding: 9px;

	box-shadow: 0px 0px 12px #73AD21;
}




.outside {
	color: #36454E;
}

.emptyDIV {
	clear: both;
	margin: 0;
	padding: 0;
}

.buttonClass{
    display: block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    border: 0;
    margin: 0px auto 0px !important;
    cursor: pointer;
}

#generalContainer{
	border: 1px solid #c4c6ca;
}

.form-row-login label{ font-size: 16px;
    line-height: 41px;
    color: #5a5a5a;
    position: absolute;
    left: 11px; background-color:#e0e0e0;padding: 0px 15px;
    width: 20%;margin-top: 1px;}

	.htext{ margin:40px 0px;}